@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f2e9;
  --foreground: #1f1f1f;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #e1c8a5, #947c58);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6366F1;
  border-radius: 100px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4F46E5; 
}
