@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f2e9;
  --foreground: #1f1f1f;
}

/* Обща тема - светъл фон, тъмен текст */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

/* Скрол бар */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #947c58;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #947c58;
  border-radius: 100px;
}
